* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .clear {
    clear: both;
  }
  
  p {
    color: rgb(253, 248, 248);
    font-weight: 400;
    padding-left: 40px;
  }
  
  main {
    max-width: 1000px;
    margin: auto;

  
  } 
  #info-box {
    background-image: url("images/wall.png");
    background-size: cover;
    padding: 10px;
    max-width: 1000px;
    margin: 100px auto 50px;
    padding-left: 20px;
    padding-right: 100px;
    position: relative;
    margin-top: 150px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
  }
  #back {
    background-color: rgba(52, 55, 55, 0.6);
    padding: 10px;
  }

  #gym {
    width: 300px;
    float: left;
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 40px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
  }
  
  #heart1 {
    background-color: aqua;
    width: 200px;
    height: 150px;
    position: absolute;
    top: -110px;
    right: 10px;
    background: none;
    border-radius: 10%;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
  }
  
  
  nav {
    max-width: 1000px;
    height: 100px;
    margin: auto;

  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0f0e1a;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 35px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    
  }
  
  li a.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: aqua;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  li a.text:hover {
    text-decoration: none;
  }
  
  li a:hover {
    color: aqua;
    text-decoration: underline;
    text-underline-offset: 10px;
  }
  
  /* //jumbotron alueen tyylittely */
  #jumbotron {
    background-color: aqua;
    max-width: 1000px;
    min-height: 60vh;
    background-image: url(images/gym2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
  }


  h1 {
    font-size: larger;
    color: rgb(243, 8, 231);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  h3 {
    font-size: larger;
    color: rgb(6, 236, 240);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  span.styled-text {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: larger;
  }

  .centered {
    padding-top: 40px;
    text-align: center;
  }
  
  #target {
    width: 350px;
    margin: auto;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: rgb(85, 61, 108);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
    border-radius: 5%;
  }
  
  #target p {
    color: aliceblue;
  }
  
  footer {
    height: 100px;
    margin-top: 50px;
    color: rgb(239, 241, 241);
    text-align: center;
    padding-top: 40px;
    background-color: rgb(93, 81, 105);
  }

  @media screen and (max-width: 900px) {
    nav {
        height: 200px;
    }

    li {
        float: none;
        width: 100%;
        background-color: #0f0e1a;
        
    }
    nav ul li a {
        display: block;
        width: 100%;
        padding: 10px;
    }
    #jumbotron {
        margin-top: -25px;

    }
    p {
        color: rgb(250, 247, 247);
    }    
    h1 {
        padding-top: 50px;
        padding-left: 40px;

    }
    h3 {
        padding-left: 40px;
    }
    #back {
        margin-left: 50px;
        
    }
    #gym {
        margin-bottom: 20px;
    }
  }

  @media screen and (max-width:600px) {
    #heart1 {
        display: none;
    }  
    #info-box {
        margin-top: 20px;
        padding: 20px;
    }
    h1 {
        padding-left: 40px;
    }
    #back {
        margin-left: 0;
    }
  }